* {
    box-sizing: border-box;
}

body{
    background-color: black;
    background-image: url("../img/fondo.jpg");
    background-size: 100%;
    font-family: 'Aref Ruqaa Ink', serif;
    color: white;
}
/* .main{
    top: 5000px;
} */

/*.video{
    width: 100;
}

.relat{
    position: relative;
}*/

.absol{
    width: 50%;
}

.img{
    width: 100%;
}

.list-group-item{
    background-color: rgba(0, 0, 0, 0.900);
}

.logo{
    align-content: center;
}

.dragon{
    float: right;
}

.nav, .footer1{
    width: 50%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.header{
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.900);
}

li>a{
    color: aliceblue;
}

/* targetas */
.card {
    width: 120px;
    border: 1px #c0c0c0 solid;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.750);
    display: inline-block;
    margin: 0.1px;
}

.img-card {
    width: 100%;
    margin: 1px auto;
    background-color: black;
}

.img {
    width: 100%;
    max-width: 220px;
}

.info-card {
    margin: 1px;
    width:100px;
    word-wrap: break-word;
    text-align: center;
}

.reparto{
    background-color: rgba(247, 242, 242, 0.178);
    width: 70%;
    overflow-x: auto;
    white-space: nowrap;
    display: block;
    border: 1px #c0c0c0 solid;
    border-radius: 5px;
    scrollbar-color: dark;
    /* flex-direction: row;
    gap: 0.4px;
    justify-content: space-between;
    align-items: stretch; */
}

.info {
    background-color: rgba(247, 242, 242, 0.178);
    float: right;
    width: 30%;
    height: 1300px;
    overflow-y: auto;
    border: 1px #c0c0c0 solid;
    border-radius: 5px;
}

.card2{
    background-color: rgba(0, 0, 0, 0.750);
    border: 1px #c0c0c0 solid;
    border-radius: 5px;
    margin: 1rem;
    display: flex;
}

.parrafo1, .parrafo2{
    background-color: rgba(247, 242, 242, 0.178);
    width: 70%;
    border: 1px #c0c0c0 solid;
    border-radius: 5px;
}

.footer2{
    width: 100%;
}

.datos{
    float: right;
}

aside{
    background-color: rgba(12, 8, 8, 0.473);;
}
/* modal */
.modal {
    display: none; /* Por defecto, estará oculto */
    position: fixed; /* Posición fija */
    z-index: 1; /* Se situará por encima de otros elementos de la página*/
    padding-top: 200px; /* El contenido estará situado a 200px de la parte superior */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Algura completa */
    overflow: auto; /* Se activará el scroll si es necesario */
    background-color: rgba(0,0,0,0.5); /* Color negro con opacidad del 50% */
  }
  
  /* Ventana o caja modal */
  .contenido-modal {
    position: relative; /* Relativo con respecto al contenedor -modal- */
    background-color: black;
    margin: auto; /* Centrada */
    padding: 20px;
    width: 60%;
    -webkit-animation-name: animarsuperior;
    -webkit-animation-duration: 0.5s;
    animation-name: animarsuperior;
    animation-duration: 0.5s
  }
  
  /* Animación */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animarsuperior {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* Botón cerrar */
  .close {
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

/* contactenos */
.form {
    background-color: rgba(247, 242, 242, 0.178);
    margin: 5rem;
    width: 60%;
    min-width: 400px;
}

.form-input {
    width: 100%;
}

.submit {
    float: right;
}

.fieldset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* justify-content: space-between; */
}

.container-submit {
    width: 100%;
}

label.error {
    color: red;
    font-style: italic;
    font-size: 85%;
}

.form-input.error,
.lista.error {
    border: red 1px solid;
}

@media (max-width: 600px){
    .container-ajax {
        margin-top: 2rem;
        width: 100%;
        background-color: hotpink;
        /* padding: 2rem; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3rem 1rem;
        /* row-gap: 3rem; */
        justify-content: center;
        /* flex-flow: row wrap; */
        align-items: stretch;
    }

    .card {
        width: 80%;
        border: 1px #c0c0c0 solid;
        border-radius: 5px;
        background-color: rgb(57, 57, 214);
        /* display: inline-block; */
        /* margin: 15px */
    }

}